<mat-divider class="divider2"></mat-divider>
<div class="principal">
    <br>
    <div class="menu">
        <br><br><br>
    <p class="generalTitle">MENIU MÂNCARE</p>
    <br><br>
    <p class="title">CIORBE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">CIORBĂ DE BURTĂ</span>
         <hr class="separator" />
         <span class="product">20 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">CIORBĂ DE PORC</span>
        <hr class="separator" />
        <span class="product">19 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">CIORBĂ DE PUI</span>
    <hr class="separator" />
    <span class="product">19 LEI</span>
</div>
<div class="menu-item">
    <span class="product">CIORBĂ DE LEGUME</span>
    <hr class="separator" />
    <span class="product">18 LEI</span>
</div>
<br><br>
    <p class="title">SPECIALITĂȚILE CASEI</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
        <span class="product">PASTRAMĂ DE BERBECUȚ</span>
        <hr class="separator" />
        <span class="product">59 LEI</span>
   </div>
   <div class="menu-item">
       <span class="product">ÎNTURNAT CIOBĂNESC</span>
       <hr class="separator" />
       <span class="product">32 LEI</span>
  </div>
  <br><br>
    <p class="title">PREPARATE DIN CARNE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
        <span class="product">PULPE DE PUI DEZOSATE GRILL</span>
        <hr class="separator" />
        <span class="product">25 LEI</span>
   </div>
   <div class="menu-item">
       <span class="product">PIEPT DE PUI GRILL</span>
       <hr class="separator" />
       <span class="product">25 LEI</span>
  </div>
  <div class="menu-item">
    <span class="product">ȘNIȚEL DE PUI</span>
    <hr class="separator" />
    <span class="product">27 LEI</span>
</div>
<div class="menu-item">
   <span class="product">ARIPIOARE DE PUI</span>
   <hr class="separator" />
   <span class="product">27 LEI</span>
</div>
<div class="menu-item">
    <span class="product">CRISPY DE PUI</span>
    <hr class="separator" />
    <span class="product">28 LEI</span>
</div>
<div class="menu-item">
   <span class="product">CEAFĂ DE PORC GRILL</span>
   <hr class="separator" />
   <span class="product">25 LEI</span>
</div>
<div class="menu-item">
    <span class="product">MICI CU MUȘTAR</span>
    <hr class="separator" />
    <span class="product">7 LEI/BUC</span>
</div>
<div class="menu-item">
   <span class="product">VIRȘLI</span>
   <hr class="separator" />
   <span class="product">12 LEI/2BUC</span>
</div>
<br><br>
    <p class="title">PREPARATE TRADIȚIONALE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
        <span class="product">TOCĂNIȚĂ DE PORC</span>
        <hr class="separator" />
        <span class="product">28 LEI</span>
   </div>
   <div class="menu-item">
       <span class="product">TOCANĂ DE MIEL</span>
       <hr class="separator" />
       <span class="product">40 LEI</span>
  </div>
  <div class="menu-item">
    <span class="product">MĂMĂLIGĂ CU BRÂNZĂ ȘI SMÂNTÂNĂ</span>
    <hr class="separator" />
    <span class="product">20 LEI</span>
</div>
<div class="menu-item">
   <span class="product">BALMOȘ CU SMÂNTÂNĂ</span>
   <hr class="separator" />
   <span class="product">32 LEI</span>
</div>
<div class="menu-item">
    <span class="product">BULZ CU SMÂNTÂNĂ</span>
    <hr class="separator" />
    <span class="product">20 LEI</span>
</div>
<div class="menu-item">
   <span class="product">SARMALE</span>
   <hr class="separator" />
   <span class="product">25 LEI</span>
</div>
<br><br>
    <p class="title">PIZZA</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">CAPRICCIOSA</span>
         <hr class="separator" />
         <span class="product">30 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">PROSCIUTTO E FUNGHI</span>
        <hr class="separator" />
        <span class="product">29 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">DIAVOLA</span>
    <hr class="separator" />
    <span class="product">32 LEI</span>
</div>
<br><br>
    <p class="title">PASTE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">PASTE CARBONARA</span>
         <hr class="separator" />
         <span class="product">27 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">PASTE BOLOGNESE</span>
        <hr class="separator" />
        <span class="product">28 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">PASTE CU PIEPT DE PUI</span>
    <hr class="separator" />
    <span class="product">30 LEI</span>
</div>
<br><br>
    <p class="title">GARNITURI</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">CARTOFI PRĂJIȚI</span>
         <hr class="separator" />
         <span class="product">9 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">CARTOFI WEDGES</span>
        <hr class="separator" />
        <span class="product">10 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">PIURE DE CARTOFI</span>
    <hr class="separator" />
    <span class="product">10 LEI</span>
</div>
<div class="menu-item">
    <span class="product">ȘOTE DE CIUPERCI</span>
    <hr class="separator" />
    <span class="product">12 LEI</span>
</div>
<div class="menu-item">
    <span class="product">PILAF DE OREZ</span>
    <hr class="separator" />
    <span class="product">10 LEI</span>
</div>
<div class="menu-item">
    <span class="product">MĂMĂLIGĂ</span>
    <hr class="separator" />
    <span class="product">9 LEI</span>
</div>
<br><br>
    <p class="title">SALATE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">SALATĂ DE ROȘII ȘI CASTRAVEȚI</span>
         <hr class="separator" />
         <span class="product">8 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">SALATĂ DE VARZĂ</span>
        <hr class="separator" />
        <span class="product">8 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">SALATĂ DE SFECLĂ ROȘIE</span>
    <hr class="separator" />
    <span class="product">9 LEI</span>
</div>
<div class="menu-item">
    <span class="product">MURĂTURI ASORTATE</span>
    <hr class="separator" />
    <span class="product">9 LEI</span>
</div>
<br><br>
    <p class="title">SOSURI ȘI ALTELE</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">KETCHUP DULCE/ PICANT</span>
         <hr class="separator" />
         <span class="product">2 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">MAIONEZĂ/ MUȘTAR</span>
        <hr class="separator" />
        <span class="product">2 LEI</span>
   </div>
    <div class="menu-item">
        <span class="product">SOS DE USTUROI</span>
        <hr class="separator" />
        <span class="product">3 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">MUJDEI DE USTUROI</span>
    <hr class="separator" />
    <span class="product">2 LEI</span>
</div>
   <div class="menu-item">
    <span class="product">SOS BARBEQUE</span>
    <hr class="separator" />
    <span class="product">4 LEI</span>
</div>
<div class="menu-item">
    <span class="product">ARDEI IUTE</span>
    <hr class="separator" />
    <span class="product">2 LEI</span>
</div>
<div class="menu-item">
    <span class="product">CHIFLĂ</span>
    <hr class="separator" />
    <span class="product">2 LEI</span>
</div>
<br><br>
    <p class="title">DESERTURI</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">CLĂTITE CU GEM</span>
         <hr class="separator" />
         <span class="product">13 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">CLĂTITE CU NUTELLA</span>
        <hr class="separator" />
        <span class="product">14 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">CLĂTITE CU CAȘ</span>
    <hr class="separator" />
    <span class="product">14 LEI</span>
</div>
<div class="menu-item">
    <span class="product">PAPANAȘI</span>
    <hr class="separator" />
    <span class="product">20 LEI</span>
</div>
<div class="menu-item">
    <span class="product">LAVA CAKE</span>
    <hr class="separator" />
    <span class="product">20 LEI</span>
</div>
<div class="menu-item">
    <span class="product">PLĂCINTĂ CU MĂR</span>
    <hr class="separator" />
    <span class="product">17 LEI</span>
</div>
<br><br><br>
    <p class="generalTitle">MENIU BĂUTURI</p>
    <br><br>
    <p class="title">CAFEA</p>
    <mat-divider class="divider2"></mat-divider>
    <div class="menu-item">
         <span class="product">EXPRESSO 90ML</span>
         <hr class="separator" />
         <span class="product">7 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">LATTE MACHIATTO 300ML</span>
        <hr class="separator" />
        <span class="product">12 LEI</span>
   </div>
   <div class="menu-item">
    <span class="product">CAPUCCINO 200ML</span>
    <hr class="separator" />
    <span class="product">9 LEI</span>
</div>
<div class="menu-item">
    <span class="product">FRAPPE 300ML</span>
    <hr class="separator" />
    <span class="product">14 LEI</span>
</div>
<div class="menu-item">
    <span class="product">CIOCOLATĂ CALDĂ NEAGRĂ/ ALBĂ 200ML</span>
    <hr class="separator" />
    <span class="product">10 LEI</span>
</div>
<br><br>
<p class="title">CEAI</p>
<mat-divider class="divider2"></mat-divider>
<div class="menu-item">
     <span class="product">FRUCTE DE PĂDURE 200ML</span>
     <hr class="separator" />
     <span class="product">8 LEI</span>
</div>
<div class="menu-item">
    <span class="product">LĂMÂIE 200ML</span>
    <hr class="separator" />
    <span class="product">8 LEI</span>
</div>
<div class="menu-item">
<span class="product">MENTĂ 200ML</span>
<hr class="separator" />
<span class="product">8 LEI</span>
</div>
<div class="menu-item">
<span class="product">VANILIE 200ML</span>
<hr class="separator" />
<span class="product">9 LEI</span>
</div>
<div class="menu-item">
<span class="product">CIREȘE</span>
<hr class="separator" />
<span class="product">9 LEI</span>
</div>
<br><br>
<p class="title">BĂUTURI RĂCORITOARE</p>
<mat-divider class="divider2"></mat-divider>
<div class="menu-item">
     <span class="product">FRESH DE PORTOCALE/ GRAPEFRUIT 300ML</span>
     <hr class="separator" />
     <span class="product">13 LEI</span>
</div>
<div class="menu-item">
    <span class="product">LIMONADĂ 450ML</span>
    <hr class="separator" />
    <span class="product">15 LEI</span>
</div>
<div class="menu-item">
<span class="product">MILKSHAKE 350ML</span>
<hr class="separator" />
<span class="product">14 LEI</span>
</div>
<div class="menu-item">
<span class="product">RED BULL 250ML</span>
<hr class="separator" />
<span class="product">9 LEI</span>
</div>
<div class="menu-item">
<span class="product">COCA-COLA/ FANTA/ PEPSI 250ML</span>
<hr class="separator" />
<span class="product">7 LEI</span>
</div>
<div class="menu-item">
    <span class="product">SCHWEPPES MANDARIN/ PINK TONIC 250ML</span>
    <hr class="separator" />
    <span class="product">7 LEI</span>
    </div>
    <div class="menu-item">
        <span class="product">COCA-COLA/ FANTA/ PEPSI 500ML</span>
        <hr class="separator" />
        <span class="product">8 LEI</span>
        </div>
        <div class="menu-item">
            <span class="product">SCHWEPPES APĂ TONICĂ 500ML</span>
            <hr class="separator" />
            <span class="product">8 LEI</span>
            </div>
            <div class="menu-item">
                <span class="product">CAPPY PULPY 330ML</span>
                <hr class="separator" />
                <span class="product">7 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">FUZETEA 500ML</span>
                    <hr class="separator" />
                    <span class="product">8 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">APĂ PLATĂ/ MINERALĂ 500ML</span>
                    <hr class="separator" />
                    <span class="product">6 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">APĂ PLATĂ/ MINERALĂ 750ML</span>
                    <hr class="separator" />
                    <span class="product">9 LEI</span>
                </div>
                <br><br>
                <p class="title">BERE</p>
                <mat-divider class="divider2"></mat-divider>
                <div class="menu-item">
                     <span class="product">CIUC PREMIUM 330ML</span>
                     <hr class="separator" />
                     <span class="product">7 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">BIRRA MORETTI 330ML</span>
                    <hr class="separator" />
                    <span class="product">8 LEI</span>
                </div>
                <div class="menu-item">
                <span class="product">HEINEKEN 330ML</span>
                <hr class="separator" />
                <span class="product">8 LEI</span>
                </div>
                <div class="menu-item">
                <span class="product">TIMIȘOREANA 500ML</span>
                <hr class="separator" />
                <span class="product">7 LEI</span>
                </div>
                <div class="menu-item">
                <span class="product">STRONGBOW</span>
                <hr class="separator" />
                <span class="product">9 LEI</span>
                </div>
                <br><br>
                <p class="title">BERE LA DRAFT</p>
                <mat-divider class="divider2"></mat-divider>
                <div class="menu-item">
                     <span class="product">CIUC 400ML</span>
                     <hr class="separator" />
                     <span class="product">8 LEI</span>
                </div>
                <br><br>
                <p class="title">BERE FĂRĂ ALCOOL</p>
                <mat-divider class="divider2"></mat-divider>
                <div class="menu-item">
                     <span class="product">HEINEKEN 330ML</span>
                     <hr class="separator" />
                     <span class="product">9 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">BIRRA MORETTI 330ML</span>
                    <hr class="separator" />
                    <span class="product">8 LEI</span>
               </div>
               <div class="menu-item">
                <span class="product">CIUC RADLER 330ML</span>
                <hr class="separator" />
                <span class="product">8 LEI</span>
           </div>
           <br><br>
                <p class="title">CONIAC</p>
                <mat-divider class="divider2"></mat-divider>
                <div class="menu-item">
                     <span class="product">ALEXANDRION 50ML</span>
                     <hr class="separator" />
                     <span class="product">8 LEI</span>
                </div>
                <div class="menu-item">
                    <span class="product">JIDVEI 50ML</span>
                    <hr class="separator" />
                    <span class="product">10 LEI</span>
               </div>
               <br><br>
               <p class="title">LICHIOR</p>
               <mat-divider class="divider2"></mat-divider>
               <div class="menu-item">
                    <span class="product">SHERIDAN'S 50ML</span>
                    <hr class="separator" />
                    <span class="product">12 LEI</span>
               </div>
               <div class="menu-item">
                   <span class="product">ANGELLI 50ML</span>
                   <hr class="separator" />
                   <span class="product">9 LEI</span>
              </div>
              <br><br>
               <p class="title">SPIRTOASE</p>
               <mat-divider class="divider2"></mat-divider>
               <div class="menu-item">
                    <span class="product">VODKA ABSOLUT 50ML</span>
                    <hr class="separator" />
                    <span class="product">8 LEI</span>
               </div>
               <div class="menu-item">
                   <span class="product">GIN 50ML</span>
                   <hr class="separator" />
                   <span class="product">9 LEI</span>
              </div>
              <div class="menu-item">
                <span class="product">BALLANTINES 50ML</span>
                <hr class="separator" />
                <span class="product">9 LEI</span>
           </div>
           <div class="menu-item">
               <span class="product">JACK DANIEL'S 50ML</span>
               <hr class="separator" />
               <span class="product">12 LEI</span>
          </div>
          <div class="menu-item">
            <span class="product">CHIVAS REGAL 50ML</span>
            <hr class="separator" />
            <span class="product">10 LEI</span>
       </div>
       <br><br>
       <p class="title">VIN</p>
       <mat-divider class="divider2"></mat-divider>
       <div class="menu-item">
            <span class="product">VIN ROȘU/ ALB/ ROSE 200ML</span>
            <hr class="separator" />
            <span class="product">8 LEI</span>
       </div>
       <div class="menu-item">
           <span class="product">VIN ROȘU/ ALB/ ROSE 500ML</span>
           <hr class="separator" />
           <span class="product">15 LEI</span>
      </div>
      <div class="menu-item">
        <span class="product">VIN ROȘU/ ALB/ ROSE 1L</span>
        <hr class="separator" />
        <span class="product">25 LEI</span>
   </div>
   <div class="menu-item">
       <span class="product">SÂMBUREL DE OLT ALB 0.75L</span>
       <hr class="separator" />
       <span class="product">45 LEI</span>
  </div>
  <div class="menu-item">
    <span class="product">BECIUL DOMNESC ROȘU/ ALB 0.75L</span>
    <hr class="separator" />
    <span class="product">40 LEI</span>
</div>
<div class="menu-item">
    <span class="product">PURCARI ALB/ ROSE 0.75L</span>
    <hr class="separator" />
    <span class="product">80 LEI</span>
</div>
<br><br>
    </div>
    <img class="photo" src="assets/images/guvern.png" alt="Atentionare bon fiscal">
    <br>
    </div>
    <mat-divider class="divider2"></mat-divider>
