@import '~@fortawesome/fontawesome-free/css/all.min.css';
.toolbar {
    background-color: white;
    color: rgb(142, 184, 131);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    margin:0;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .list {
    margin-left: 1rem;
  }
  
  .nav a {
    color:rgb(142, 184, 131);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
  }
  
  .nav a:hover {
    color: rgb(38, 97, 28);
    font-weight: bolder;
  }

  body{
    margin: 0;
  }

