<div class="body">
  <div>
    <img class="photo" src="assets/images/homeImage.png" alt="Photo5">
  </div>
<div class="text-and-image">
    <div>
        <p class="title">Despre noi</p>
        <p class="paragraph">Terasa lu' Iliuță este locul perfect de poposit în comuna Jina!</p>
    <p class="paragraph2">
    Aici deliciul preparatelor tradiționale este îmbinat cu o atmosferă plăcută și primitoare, iar priveliștea este încântătoare.
    Dacă vă doriți o pauză de la cotidian, vă așteptăm să vă relaxați la noi, într-o oază de liniște, la 1000 de m altitudine, într-un cadru pitoresc și tradițional.
    Suntem o afacere de familie, recent înființată (2022) și dorim să le oferim oaspeților noștri ceea ce merită.
    </p>
    </div>
    <img class="photo" src="assets/images/photo5.jpeg" alt="Photo5">
</div>
<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <img class="photoGrid"src="assets/images/photo4.jpg" alt="Photo 1">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="photoGrid" src="assets/images/photo2.jpeg" alt="Photo 2">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="photoGrid" src="assets/images/photo3.jpg" alt="Photo 3">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="photoGrid" src="assets/images/photo1.jpg" alt="Photo 4">
    </mat-grid-tile>
  </mat-grid-list>
  <div class="bar">
    <br>
    <p>SPECIALITĂȚILE NOASTRE</p>
    <br>
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <img class="photoGrid2" src="assets/images/balmos.jpeg" alt="Photo 1">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="photoGrid2" src="assets/images/inturnat.jpg" alt="Photo 1">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="photoGrid2" src="assets/images/pastrama.jpg" alt="Photo 2">
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <div class="product">
  <mat-grid-list cols="3" rowHeight="5rem">
    <mat-grid-tile>
      <p>BALMOȘ</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>ÎNTURNAT CIOBĂNESC</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>PASTRAMĂ DE BERBECUȚ</p>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
    <div>
      <a mat-raised-button color="black" class="button" (click)="navigateToMenu()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>Vezi meniul complet</a>
    </div>
  </div>
  <div class="contact-details">
    <br>
    <mat-icon class="contact-icon">access_time</mat-icon>
  <span class="contact-text">Luni-Duminică: 11:00-22:00</span>
  <mat-icon class="contact-icon">phone</mat-icon>
  <span class="contact-text">(+40) 741 716 740</span>
  <mat-icon class="contact-icon">email</mat-icon>
  <span class="contact-text">terasaluiliuta@gmail.com</span>
  </div>